<div class="animal-grid">
    <div th:each="animal : ${animais}" class="animal-card">
    
        <div class="card-image-wrapper"> 
            <img th:if="${animal.fotos != null and !#lists.isEmpty(animal.fotos)}"
                 th:src="${animal.fotos[0].url}" alt="Foto do Animal" class="card-image">
            
            <img th:unless="${animal.fotos != null and !#lists.isEmpty(animal.fotos)}"
                 src="https://placehold.co/400x300/e0e0e0/777?text=Sem+Foto"
                 alt="Sem Foto" class="card-image">
        </div>
        <div class="card-content">
            <h3 th:text="${animal.nome ?: 'Animal sem nome'}">Nome do Animal</h3> 
            
            <p class="card-details" 
               th:text="|${animal.sexo ?: '?'}, ${animal.idade ?: '?' } anos|">
               Macho, 2 anos
            </p>
            
            <p class="card-location" th:text="${animal.raca ?: 'Raça desconhecida'}">Raça</p>
            
            <p class="card-status"
                th:text="${animal.status}"
                th:classappend="${animal.status == 'Disponível' ? ' status-disponivel' : ' status-adotado'}">
                 Disponível
            </p>
            
            <div class="acoes-animal">
                <a th:href="@{/animais/editar/{id}(id=${animal.id})}" class="btn-editar">Editar</a>
                
                <form th:if="${animal.status == 'Disponível'}" 
                      th:action="@{/animais/marcar-adotado/{id}(id=${animal.id})}" 
                      method="post" 
                      style="display:inline;">
                    <button type="submit" class="btn-adotado" 
                            onclick="return confirm('ATENÇÃO: Você confirma que este animal foi adotado?');">
                        Marcar como Adotado
                    </button>
                </form>
                
                <form th:if="${animal.status == 'Adotado'}" 
                      th:action="@{/animais/marcar-disponivel/{id}(id=${animal.id})}" 
                      method="post" 
                      style="display:inline;">
                    <button type="submit" class="btn-disponivel" 
                            onclick="return confirm('Deseja realmente reverter o status para Disponível?');">
                        Tornar Disponível
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
