/* ============================
   RESET
============================ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* ============================
   BODY
============================ */
body {
    background: linear-gradient(180deg, #65A956, #3E7D2B);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
}

/* ============================
   CONTAINER PRINCIPAL
============================ */
.container {
    width: 100%;
    max-width: 450px;
    background: #fff;
    padding: 30px 40px;
    border-radius: 14px;
    box-shadow: 0px 6px 20px rgba(0,0,0,0.2);
    text-align: center;
}

/* ============================
   LOGO
============================ */
.logo-area {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
}

.logo-img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.logo-text {
    font-size: 30px;
    font-weight: 700;
    color: #2F5D27;
}


/* ============================
   TÍTULO
============================ */
.title {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 5px;
    color: #3D6F32;
}

.subtitle {
    font-size: 15px;
    font-weight: 400;
    color: #3b3b3b;
    margin-bottom: 25px;
}

/* ============================
   INPUTS
============================ */
.form-group {
    text-align: left;
    margin-bottom: 15px;
}

.form-group label {
    font-size: 14px;
    color: #2F4F2B;
    font-weight: 600;
}

.form-group input {
    width: 100%;
    padding: 12px 14px;
    border-radius: 8px;
    border: 1px solid #b8d3b5;
    outline: none;
    background: #fafafa;
    transition: .3s;
    font-size: 14px;
}

.form-group input:focus {
    border-color: #3D8A2E;
    box-shadow: 0px 0px 5px rgba(61,138,46,0.4);
}

/* ============================
   BOTÃO
============================ */
button {
    width: 100%;
    padding: 14px;
    background: #3D8A2E;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 5px;
    transition: .3s;
}

button:hover {
    background: #2F6C22;
}

/* ============================
   LINK LOGIN
============================ */
.login-text {
    margin-top: 18px;
    font-size: 14px;
    color: #333;
}

.login-text a {
    color: #2F5D27;
    font-weight: 600;
    text-decoration: none;
    transition: .3s;
}

.login-text a:hover {
    text-decoration: u
